---
import { Carousel } from "../ui/client/Carousel"
import { PROFILE_URL } from "astro:env/server"

const testimonials = [
  {
    id: 1,
    user: "Ana Martínez",
    description: '"Gran capacidad para resolver problemas técnicos y liderar equipos multidisciplinarios."',
    image: `${PROFILE_URL}/atinez`,
    job: "Product Owner"
  },
  {
    id: 2,
    user: "Carlos Gómez",
    description: '"Increíble capacidad de análisis funcional y visión de producto. Siempre aporta claridad a lo complejo."',
    image: `${PROFILE_URL}/carlosandres11`,
    job: "Analista de Negocio"
  },
  {
    id: 3,
    user: "Lucía Fernández",
    description: '"Matías combina lo técnico con lo humano. Excelente profesional y mejor persona."',
    image: `${PROFILE_URL}/lucfercas`,
    job: "Scrum Master"
  },
  {
    id: 5,
    user: "Valentina Loaiza",
    description: '"Siempre dispuesto a colaborar y aportar valor. Matías entiende tanto del negocio como de la tecnología."',
    image: `${PROFILE_URL}/valenlzmj`,
    job: "UX Researcher"
  },
  {
    id: 6,
    user: "Martín López",
    description: '"Con Matías todo fluye. Es claro, ordenado y comprometido con los objetivos del equipo."',
    image: `${PROFILE_URL}/MigueMLM`,
    job: "Scrum Master"
  },
  {
    id: 7,
    user: "Florencia Schmidt",
    description: '"Su código es prolijo y su análisis siempre anticipa escenarios posibles. Un verdadero fullstack."',
    image: `${PROFILE_URL}/mflorschmidt`,
    job: "Desarrolladora Fullstack"
  }
]
---

<section class="py-16 px-4 bg-white dark:bg-slate-900 md:h-screen md:px-36">
  <div class="max-w-4xl mx-auto text-center mb-12">
    <h2 class="text-3xl font-bold text-slate-900 dark:text-white text-left">Testimonios</h2>
    <p class="mt-4 pb-4 text-slate-600 dark:text-slate-200 text-left">
      Siempre quise que mi trabajo formara parte de algo más grande: hacer que la vida cotidiana de las personas y las aplicaciones complejas fueran fáciles de usar.
    </p>
  </div>

  <div>
    <Carousel testimonials={testimonials} autoPlay client:only="react" />
  </div>
</section>
