---
import avatar from '@/assets/images/avatar2.png';
import Contact from '@/components/layout/Contact.astro';
import Features from '@/components/layout/Features.astro';
import Gallery from '@/components/layout/Gallery.astro';
import Grid from '@/components/layout/Grid.astro';
import Hero from '@/components/layout/Hero.astro';
import Testimonials from '@/components/layout/Testimonials.astro';
import CallToAction from '@/components/ui/CallToAction.astro';
import Preview from '@/components/ui/Preview.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

const works: CollectionEntry<'works'>[] = (await getCollection('works')).sort(
(
    a: CollectionEntry<'works'>,
    b: CollectionEntry<'works'>
  ) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
).slice(0, 4)

interface Props {
  title: string
  description: string
}

const { title , description } = Astro.props
---

<BaseLayout title={title} description={description} >
	<main class="container flex-1 mt-32 md:mt-24">
		<Hero
			title="Soy Matias Lombardi"
			subtitle="Hola a todos 👋!"
			description="Product Owner & Fullstack Developer"
			align="start"
			class="px-4 flex flex-col space-y-4 pb-10 md:flex-row md:items-center md:justify-evenly md:pb-0 md:h-screen"
		>
			<div class="flex flex-col gap-4 pt-6 mb-6 items-center">
				<img 
					src={avatar.src} 
					alt="Matias Lombardi, sonriendo, de fondo su mundo resumido en un escritorio personalizado"
					class="w-auto h-auto rounded-xl drop-shadow-2xl shadow-teal-700 md:w-3/4"
				>
				<div class="w-full mx-auto text-center mt-8 md:hidden">
					<CallToAction 
						href="mailto:contactos@lombardidev.ar"
						target="_blank"
						rel="noopener noreferrer"
						class="py-2 px-8 w-auto text-center rounded-full no-underline shadow-md text-slate-50 bg-gradient-to-r from-teal-700 via-green-500 to-teal-900"
					>
						Contactame
					</CallToAction>
				</div>
			</div>
		</Hero>

		<Features />

		<Gallery
			title="Mis proyectos"
			description="Echa un vistazo a algunos de mis trabajos destacados."	
			class="mx-4 py-16 md:h-auto md:pt-24 md:px-36"
		>
			<article>
			<Grid variant='offset'>
				{
					works.map((work) => (
						<li id={work.slug} >
							<Preview works={work} />
						</li>
					))
				}
				</Grid>
			</article>
		</Gallery>

		<Testimonials />

		<Contact />
	</main>
</BaseLayout>
